{{> header}}
<div class="body">
    <div class="bio-wrapper" style="background-image: url('{{settings.bio_header.url}}')">
        <div class="bio-body">
            <div class="bio">
             {{settings.bio}}
            </div>
        </div>
    </div>
    {{> footer}}
</div>